.isOnline {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: green;
}
.isOffline {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: red;
}
