.friendSection {
  width: 250px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #fff;
  box-sizing: border-box;
  padding: 10px;
}
.friendList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
