.statistics {
  width: 250px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #fff;
}
.title {
  padding-block: 10px;
  font-size: 17px;
  font-weight: 600;
  color: #202931;
  text-transform: uppercase;
}
.statList {
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  color: #768696;
  background: #f3f6f9;
  border-radius: 0 0 5px 5px;
}
.label {
  font-size: 11px;
  font-weight: 400;
  color: #768696;
}
.quantity {
  font-size: 15px;
  font-weight: 600;
  color: #202931;
}
